    <!-- openable navbar -->
    <header>
        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large"
            onclick="w3_close()">Close &times;</button>
            <a href="/staff/dashboard" class="w3-bar-item w3-button">Dashboard</a>
	<a href="/staff/search" class="w3-bar-item w3-button">Search Customer</a>
	<a href="/staff/arrivalCars" class="w3-bar-item w3-button">Arrival Cars</a>
	<a href="/staff/pendingCars" class="w3-bar-item w3-button">Pending Cars</a>
	<a href="/staff/repairedCars" class="w3-bar-item w3-button">Repaired Cars</a>
    <a href="/staff/jobcardList" class="w3-bar-item w3-button">JobcardList </a>
	<a href="/staff/closedCars" class="w3-bar-item w3-button">Closed Cars</a>
        </div>
    </header>
    <main id="main">
        <div class="my-new-header">
            <button id="openNav" class="w3-button w3-xlarge my-hamburger-btn" onclick="w3_open()">&#9776;</button>
             <span>
                <a href="/staff/dashboard" class="navbar-logo-link">JCPS</a> 
            </span>
            <div class="navbar-userpart">
                <span class="navbar-userpart-username">Welcome, Admin | </span> <span><a href="/staff/logout">logout</a></span>
            </div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/staff/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/staff/repairedCars">Repaired Cars List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Repaired Cars View</li>
            </ol>
        </nav>

        <div class="container-95">
            <div class="my-form" id="verify-static-details">
                <div class="my-form-heading">
                    <h5>Name</h5>
                </div>


                <div class="row my-form-row">
                            <div class="col-md-6">
                                <table class="table table-striped table-bordered customer-verification-info-table">
                                    <tbody>
                                        
                                        <tr>
                                            <th>Vehicle Number:</th>
                                                <td>{{customer.vehicleInfo.vehicleNumber}}</td>
                                        </tr>
                                        <tr>
                                            <th>Customer Name:</th>
                                                <td>{{customer.name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Contact No.:</th>
                                                <td>{{customer.contact.phone}}</td>
                                        </tr>                                        
                                        <tr>
                                            <th>Car Name:</th>
                                                <td>{{customer.vehicleInfo.company.name}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                    <div class="col-md-6">
                                <table class="table table-striped table-bordered customer-verification-info-table">
                                    <tbody>
                                        <tr>
                                            <th>Arrival Date:</th>
                                                <td>{{customer.jobcardInfo.arrival.date}}</td>
                                        </tr>
                                        <tr>
                                            <th>Arrival Time:</th>
                                                <td>{{customer.jobcardInfo.arrival.time}}</td>
                                        </tr>
                                        <tr>
                                            <th>Supervisor Name:</th>
                                                <td>Rameshbhai Chaudhary</td>
                                        </tr>
                                        <tr>
                                            <th>Jobcard No.:</th>
                                                <td>{{customer.jobcardInfo.jobcardNumber}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                    <div class="col-md-4">
                        <h6 style="margin-left:7px;">Parts</h6>
                        <table class="table table-striped table-bordered customer-verification-info-table">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Name</th>
                                    <th>Price</th> 
                                    <th>Labour</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each customer.jobcardInfo.parts}}
                                    <tr>
                                        <td>{{@index}}</td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.price}}</td>
                                        <td>{{this.labour}}</td>
                                    </tr>                                    
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h6>Services</h6>
                        <table class="table table-striped table-bordered customer-verification-info-table">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Name</th>                                        
                                    <th>Price</th>
                                    <th>Labour</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each customer.jobcardInfo.services}}
                                    <tr>  
                                        <td>{{@index}}</td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.price}}</td>  
                                        <td>{{this.labour}}</td>  
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h6>Lubricants</h6>
                        <table class="table table-striped table-bordered customer-verification-info-table">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Name</th> 
                                    <th>Price</th>
                                    <th>Labour</th>
                                </tr>
                            </thead>
                            <tbody>   
                                {{#each customer.jobcardInfo.lubricants}}
                                    <tr>
                                        <td>{{@index}}</td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.price}}</td>
                                        <td>{{this.labour}}</td>
                                    </tr>
                                {{/each}}
                        </table>
                    </div>
                    <div class="col-md-6">
                        <label for="ddate" style="margin-left: 8px;"><b>Delivery Date:{{customer.jobcardInfo.delivery.date}}</label><br>
                        <label for="toalamount" style="margin-left: 8px;"><b>Total Amount: {{customer.jobcardInfo.payment.total}} </b></label><br>
                        <label for="toalamount" style="margin-left: 8px;"><b>Final Amount: {{customer.jobcardInfo.payment.final}} </b></label><br>
                        <label for="toalamount" style="margin-left: 8px;"><b>Pending Payment Amount: {{customer.jobcardInfo.payment.pending.amount}}</b></label>                                                
                    </div>          
                    <label for="dtime" style="margin-left: 8px;"><b>Delivery Time:{{customer.jobcardInfo.delivery.time }}
                        
                    </label>
                </div>
                      
            <div class="row">
                        <div class="col-md"></div>
                        <div class="col-md-2">
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-secondary my-btn btn-lg" data-toggle="modal" data-target="#pendingPayment">Pending Payment</button>

                            <!-- Modal -->
                            <div id="pendingPayment" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                <div class="modal-header">                                    
                                    <h4 class="modal-title">Pending Payment</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/staff/addPendingPayment/{{customer._id}}" method="POST">                                       
                                        <label for="pp">Pending Rs.</label>                                        
                                        <input type="text" name="pp" pattern="[0-9]{1,}" required>
                                        <input type="submit" class="btn btn-secondary my-btn btn-lg" value="Submit">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                                </div>

                            </div>
                            </div>
                        </div>                        
                        <div class="col-md-2">
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-secondary my-btn btn-lg" data-toggle="modal" data-target="#myModal">Add Discount</button>

                            <!-- Modal -->
                            <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                <div class="modal-header">                                    
                                    <h4 class="modal-title">Add Discount</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/staff/addDiscount/{{customer._id}}" method="POST">
                                        <label>Discount Type</label>
                                        <select name="type">
                                            <option>percentage</option>
                                            <option selected>cash</option>
                                        </select>
                                        <br>
                                        <label for="discount">Discount</label>                                        
                                        <input type="text" name="discount" pattern="[0-9]{1,}" required>
                                        <input type="submit" class="btn btn-secondary my-btn btn-lg" value="Submit">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                                </div>

                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-secondary my-btn btn-lg" href="/staff/bill/{{customer._id}}">Generate Bill</a>
                        </div>
                        <div class="col-md"></div>
                    </div>
         </div> 
    </main>